In [3]:
from pyspark.sql import SparkSession

DIRPATH = "C:/Users/sanjay s risbud/Downloads/sundog/"
spark = SparkSession.builder.master("local").appName("Exercise").getOrCreate()

In [6]:
from pyspark.sql.functions import sum
df = spark.read.csv(DIRPATH + "customer-orders.csv", inferSchema=True).drop("_c1").withColumnRenamed("_c0", "customer_id").withColumnRenamed("_c2", "price")
df.show()

+-----------+-----+
|customer_id|price|
+-----------+-----+
|         44|37.19|
|         35|65.89|
|          2|40.64|
|         47|14.98|
|         29|13.08|
|         91|24.59|
|         70|68.68|
|         85|28.53|
|         53|83.55|
|         14| 4.32|
|         51| 19.8|
|         42|57.77|
|          2|55.77|
|         79|33.17|
|         50|23.57|
|         20| 6.49|
|         15|65.53|
|         44|99.19|
|          5|64.18|
|         48|32.42|
+-----------+-----+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import col, format_number, sum
df.groupBy("customer_id").agg(format_number(sum(df["price"]), 2).alias("total")).orderBy(col("total").desc()).show()

+-----------+--------+
|customer_id|   total|
+-----------+--------+
|         68|6,375.45|
|         73|6,206.20|
|         39|6,193.11|
|         54|6,065.39|
|         71|5,995.66|
|          2|5,994.59|
|         97|5,977.19|
|         46|5,963.11|
|         42|5,696.84|
|         59|5,642.89|
|         41|5,637.62|
|          0|5,524.95|
|          8|5,517.24|
|         85|5,503.43|
|         61|5,497.48|
|         32|5,496.05|
|         58|5,437.73|
|         63|5,415.15|
|         15|5,413.51|
|          6|5,397.88|
+-----------+--------+
only showing top 20 rows